<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220538846317-1rlm7ejs8e8fb47dhiu7l1shnl6pid0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220538846317-1rlm7ejs8e8fb47dhiu7l1shnl6pid0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220538846317-12616eal8rltihnngmt2hut7q8i6jgkq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRB-DcMcdcL8rJrIDSvQrB6pQbyv2N6Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>220538846317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediezy.mediezytechnology.user</string>
	<key>PROJECT_ID</key>
	<string>mediezy-28594</string>
	<key>STORAGE_BUCKET</key>
	<string>mediezy-28594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220538846317:ios:35d4b2c83eb1ad4a7f5364</string>
</dict>
</plist>